footer .signiture {
  color: rgb(231, 231, 231);
  text-shadow: 1px 1px rgb(20, 20, 20);
  font-size: 14px;
  font-family: "Gabarito", sans-serif;
  font-weight: 200;
  text-align: center;
  margin-top: 25px;
}
a {
  color: rgb(109, 166, 253);
}
